/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
 
:root{
    --white: #f9f9f9;
    --green: #8b4513;
    --gray: #8c8585;
} /* variables*/
 
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--green);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 40px;
    margin: 20px 0px 20px 10px;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--green);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
 
}
.menu a{
    display: block;
    padding: 27px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 30px 20px;
}/* Style label tag */
 
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
 
} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
 
.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
 
    }
 
    .hamb{
        display: none;
    }
}
@media screen and (min-width: 700px) {
    .logo {
        font-size: 35px;
    }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    .logo {
        font-size: 30px;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    .logo {
        font-size: 25px;
    }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    .logo {
        font-size: 20px;
    }
}
/* Main content */
.mid {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    
}
/* head */
.mid_head{
    width: 100%;
    text-align: center;
    padding: 40px;
}
.headline_list {
    width: 100%;
    background-image: url("фон.jfif");
    background-size: cover;
}
.headline {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
/* list */
.list {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}
.rounded {
    counter-reset: li; 
    list-style: none; 
    font: 20px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded p {
    z-index: 0;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}
.rounded p:hover {background: #E9E4E0;}
.rounded p:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #ffdead;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}
@media (max-width: 700px) {
    .list{
        padding-left: 10%;
        padding-right: 10%;
    }
}
.mid_end {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button_mid {
    width: 100%;
}
/* Стиль кнопка, которая используется для открытия и закрытия складного содержимого */
.collapsible {
    background-color: #d3c3af;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
    border-radius: .5em;
  }
  
  /* Добавить цвет фона для кнопки, если она нажата (добавить класс .active с JS), а при наведении на него курсора мыши (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Стиль складного содержимого. Примечание: скрыто по умолчанию */
  .content {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 18px;
    background-color: var(--white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .content p{
    text-align: center;
  }
  .content table {
    width: 100%; /* Устанавливаем ширину таблицы равной 100% ширины контейнера */
}

.content table td:first-child {
    width: 60%; /* Устанавливаем ширину первого столбца на 60% от ширины таблицы */
    word-wrap: break-word; /* Разрыв слов, если текст слишком длинный */
}

.content table td:last-child {
    text-align: right; /* Выравнивание текста в правом столбце по правому краю */
    width: 40%; /* Устанавливаем ширину второго столбца на 40% от ширины таблицы */
}

/* Адаптация для мобильных устройств */
@media (max-width: 600px) {
    .content{
        margin-left: 10%;
        margin-right: 10%;
    }
    .content table td:first-child {
        width: 60; /* На маленьких экранах первый столбец занимает всю ширину */
    }

    .content table td:last-child {
        width: 40%; /* На маленьких экранах второй столбец тоже занимает всю ширину */
        text-align: left; /* Выравнивание текста по левому краю на маленьких экранах */
    }

}

/* footer */
.footer {
    width: 100%;
    height: 100%;
    background-color: #deb887;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.imgg {
    width: 15%;
    height: 15vh;
    margin: 20px;
}
img {
  width: 100%;
  height: 100%;
  
  }
.mid_bottom {
    width: 60%;
    height: 15vh;
    padding-top: 5%;
    font-size: 25px;
    text-align: center

}
.right_footer {
    width: 20%;
    height: 15vh;
    margin-top: 20px;
    text-align: center

}
.footer_bottom {
    width: 100%;
    height: 8vh;
    font-size: 15px;
    padding-top: 2%;
    padding-bottom: 2%;


}
@media (max-width: 700px) and (max-width: 500px) {
    .imgg{
        max-height: none;
        top: 0;
        width: 100%;
    }
    img {
        object-fit: scale-down
        
        }
}
@media (max-width: 700px) and (max-width: 500px) {
    .mid_bottom{
        max-height: none;
        top: 0;
        width: 100%;
        text-align: center
    }
}
@media (max-width: 800px) {
    .right_footer{
        max-height: none;
        top: 0;
        width: 100%;
    }
}
@media (max-width: 700px) {
    .footer_bottom{
        max-height: none;
        top: 0;
        width: 100%;
        text-align: center
    }
}